<!-- <div class="footer text-center font1 bg-black">
    &copy; {{getCurrentYear()}} {{title}}
    <p class="love">Made with all <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i> in the world</p>
</div> -->

<footer class="site-footer footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">
                  CODENEXUS is an online compiler that allows users to write, compile, and run code in various programming languages, including C, C++, Java, Python, and JavaScript. It offers a user-friendly interface that allows programmers to easily write and test their code. CODENEXUS supports a range of features, including syntax highlighting, code completion, and code debugging. It also provides an online platform for users to share and collaborate on their code. If users encounter any doubts or issues while using the platform, they can access the CODENEXUS community forum, which offers support and answers to frequently asked questions. Additionally, the platform provides a range of tutorials and learning resources to help users improve their coding skills. Overall, CODENEXUS is a reliable and useful online compiler that provides a convenient platform for programmers to write, compile, and test their code.
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Languages Supported</h6>
                <ul class="footer-links">
                    <li>C</li>
                    <li>C++</li>
                    <li>Python</li>
                    <li>Java</li>
                    <li>JavaScript</li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">



        </div>
    </div>
</footer>
